<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>

<th:block th:replace="admin/inc/head :: headFrg"></th:block>
<body class="bg-light">
<main>

    <th:block th:replace="admin/inc/header :: headerFrg"></th:block>

    <div class="container">
        <div class="row mb-3">
            <h1 class="mt-2 mb-4">상품수정</h1>
            <div class="col-12">
                <div class="btn-group">
                    <a th:href="@{/admin/product/list}" class="btn btn-primary">상품리스트</a>
                    <a th:href="@{/admin/product/insert}" class="btn btn-primary">상품등록</a>
                </div>
            </div>
            <hr class="mt-3">
        </div>
        <div class="row">
            <div class="col-6 px-3">
                <form onsubmit="return productInsert()" id="InsertProduct" method="post" th:action="@{/admin/product/productUpdate}" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="">
                    <div class="row pb-3">
                        <p class="text-danger"><sup>*</sup>표시의 내용은 필수입력입니다.</p>
                        <div class="col-8 mb-3">
                            <div class="mb-3">
                                <label class="form-label">타입</label>
                                <input type="text" class="form-control" value="액상" disabled>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="mb-3">
                                <label class="form-label">브랜드</label>
                                <input type="text" class="form-control" value="Nasty" disabled>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">상품명<sup>*</sup>(상품명은 한글로)</label>
                                <input id="NameInput" onkeyup="nameChanged()" type="text" class="form-control" name="name" maxlength="14" autocomplete="off" required>
                                <p><sub>상품명 최대길이 14자리</sub></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">보조상품명</label>
                                <input id="SubnameInput" onkeyup="subnameChanged()" type="text" class="form-control" name="subname" maxlength="10" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">간단스펙<sup>*</sup></label>
                                <input id="SpecInput" onkeyup="specChanged()" type="text" class="form-control" name="spec" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">원가<sup>*</sup></label>
                                <input id="CostPriceInput" onkeyup="costPriceChanged()" type="number" class="form-control" name="cost_price" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">할인가</label>
                                <input id="DiscountPriceInput" onkeyup="discountPriceChanged()" type="number" class="form-control" name="discount_price" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label class="form-label">재고수량<sup>*</sup></label>
                                <input id="RemainInput" type="number" class="form-control" name="remain" maxlength="3" autocomplete="off" required>
                                <p><sub>재고수량 0이되면 자동 판매중지 처리, 재고수급이 원활하다면 999 입력</sub></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="mb-3">
                                <label for="ThumbnailInput" class="form-label">썸네일 이미지<sup>*</sup></label>
                                <input id="ThumbnailInput" onchange="thumbnailChanged()" class="form-control" type="file" name="thumbnail" accept=".jpg, .png, .gif" required>
                            </div>
                        </div>
                        <label class="form-label">상품설명 이미지<sup>*</sup></label>
                        <sub>입력칸 추가시 입력필수, 없을시 입력칸 삭제하기. 최소한 한개 이상은 필수생성 후 입력</sub>

                        <div id="ImgInputContainer" class="col-12 mt-5">

                        </div>

                        <div class="col-12 mb-4">
                            <button type="button" id="ImgAddBtn" onclick="addImgTab()" class="btn btn-sm btn-primary col-12">추가</button>
                        </div>
                        <hr>

                        <label class="form-label">카테고리 선택<sup>*</sup></label>
                        <sub>하나 이상 선택 필수</sub>
                        <div id="CategoryContainer" class="col-8 mb-3">

                        </div>

                    </div>
                </form>

            </div>
            <div class="col-6 px-3">
                <div class="row pt-3 pb-3">
                    <div class="col-12 mb-3">
                        <button class="btn btn-lg btn-success col-12" form="InsertProduct">이대로 수정하기</button>
                    </div>
                    <div class="col-4">
                        <img id="PreThumbnail" src="/img/placeholder.jpg" class="img-thumbnail" width="100%">
                    </div>
                    <div class="col-8 mb-4">
                        <h3 id="PreBrand"></h3>
                        <h1 id="PreName" class="mt-1"></h1>
                        <h4 id="PreSubname" class="mt-0"></h4>
                        <h5 id="PreSpec" class="mt-2 text-secondary"></h5>
                        <h5 class="text-muted mt-4">
                            <del id="PreCostPrice"></del>
                        </h5>
                        <h4 id="PreDiscoutPrice" class="text-success"></h4>
                    </div>
                    <div id="PreImgContainer" class="col-12">

                    </div>

                </div>
            </div>

        </div>

    </div>

    <th:block th:replace="admin/inc/footer :: footerFrg"></th:block>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript">

    const csrfToken = document.querySelector('meta[name=\'_csrf\']')['content']

    const NameInput = document.getElementById('NameInput');
    const SubnameInput = document.getElementById('SubnameInput');
    const SpecInput = document.getElementById('SpecInput');
    const CostPriceInput = document.getElementById('CostPriceInput');
    const DiscountPriceInput = document.getElementById('DiscountPriceInput');
    const RemainInput = document.getElementById('RemainInput');
    const ThumbnailInput = document.getElementById('ThumbnailInput');
    const ImgInputContainer = document.getElementById('ImgInputContainer');
    const ImgAddBtn = document.getElementById('ImgAddBtn');
    const CategoryContainer = document.getElementById('CategoryContainer');

    const TabList = document.getElementsByClassName('img-tab');
    const ImgSize = 1024 * 1024 * 3;
    const CategoryList = document.querySelectorAll('input[name="category"]:checked');

    const PreThumbnail = document.getElementById('PreThumbnail');
    const PreBrand = document.getElementById('PreBrand');
    const PreName = document.getElementById('PreName');
    const PreSubname = document.getElementById('PreSubname');
    const PreSpec = document.getElementById('PreSpec');
    const PreCostPrice = document.getElementById('PreCostPrice');
    const PreDiscountPrice = document.getElementById('PreDiscoutPrice');
    const PreImgContainer = document.getElementById('PreImgContainer');

    function nameChanged() {
        PreName.innerHTML = NameInput.value;
    }

    function subnameChanged() {
        PreSubname.innerHTML = SubnameInput.value;
    }

    function specChanged() {
        PreSpec.innerHTML = SpecInput.value;
    }

    function costPriceChanged() {
        if (DiscountPriceInput.value === '') {
            PreCostPrice.innerHTML = '';
            PreDiscountPrice.innerHTML = CostPriceInput.value + '원';
        } else {
            PreCostPrice.innerHTML = CostPriceInput.value + '원';
        }
    }

    function discountPriceChanged() {
        if (CostPriceInput.value !== '' && DiscountPriceInput.value === '') {
            costPriceChanged();
        } else {
            PreCostPrice.innerHTML = CostPriceInput.value + '원';
            PreDiscountPrice.innerHTML = DiscountPriceInput.value + '원';
        }
    }

    function thumbnailChanged() {
        if (ThumbnailInput.files[0].size > ImgSize) {
            alert('이미지 최대용량은 3MB입니다.');
            ThumbnailInput.value = '';
        } else {
            if (ThumbnailInput.files && ThumbnailInput.files[0]) {

                const reader = new FileReader();

                reader.onload = e => {
                    PreThumbnail.src = e.target.result
                }
                reader.readAsDataURL(ThumbnailInput.files[0]);
                PreThumbnail.style.width = PreThumbnail.clientWidth + 'px';
                PreThumbnail.style.height = PreThumbnail.clientWidth + 'px';
            }
        }
    }

    function imgChanged() {
        let html = '';
        PreImgContainer.innerHTML = '';

        for (let i = 0; i < TabList.length; i++) {
            if (TabList[i].files[0].size > ImgSize) {
                alert('이미지 최대용량은 3MB입니다.');
                TabList[i].value = '';
            } else {
                html += '<img class="img-preview" src="" width="100%">'
            }
        }
        PreImgContainer.innerHTML = html;
        const preImgList = document.getElementsByClassName('img-preview');

        for (let i = 0; i < preImgList.length; i++) {
            const reader = new FileReader();
            reader.onload = e => {
                preImgList[i].src = e.target.result
            }
            reader.readAsDataURL(TabList[i].files[0]);
        }
    }

    function addImgTab() {
        const html = document.createRange().createContextualFragment(
            '<div class="row">' +
            '<div class="col-8">' +
            '<div class="mb-3">' +
            '<input class="form-control img-tab" onchange="imgChanged()" type="file" name="img" accept=".jpg, .png, .gif" required>' +
            '</div>' +
            '</div>' +
            '<div class="col-4">' +
            '<button type="button" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);imgChanged()" class="btn btn-danger delete-img">삭제</button>' +
            '</div>' +
            '</div>');
        ImgInputContainer.append(html);
    }

    function productInsert() {
        if (TabList.length === 0) {
            alert('상품설명 이미지가 하나 이상 등록되어야 합니다.');
            return false;
        }
        else if (CategoryList.length === 0) {
            alert('카테고리가 하나 이상 등록되어야 합니다.');
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>