<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer class="footer footer-black footer-big" th:fragment="footerFrg">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <h5>BBVAPE</h5>
                    <p>상호: 비비베이프(BBVAPE) | 대표: 윤이규 | 개인정보관리책임자: 윤이규 | 전화: 010-7727-2958 | 이메일: yoonigyu@naver.com</p>
                    <p>주소: 부산 연제구 연수로90,2층 | 사업자등록번호: 886-16-00725 | 통신판매: 2018-부산연제-0104 | 호스팅제공자: (주)식스샵</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright float-right">
            Copyright &#xA9;
            <script>
                document.write(new Date().getFullYear())
            </script>
            BBVAPE, All Rights Reserved.
        </div>
    </div>
</footer>
</html>