<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="40" th:fragment="navTpFrg">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href=""><b>BBVAPE</b></a>
            <button class="btn btn-sm btn-danger btn-round shopping-cart">
                <i class="material-icons">shopping_cart</i> 0
            </button>
            <button type="button" class="navbar-toggler" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/liquid.html" class="nav-link">
                        <i class="material-icons">air</i> 액상
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/devices.html" class="nav-link">
                        <i class="material-icons">view_carousel</i> 기기
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/etc.html" class="nav-link">
                        <i class="material-icons">earbuds_battery</i> 기타
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/subs.html" class="nav-link">
                        <i class="material-icons">schedule</i> 정기배송
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">support_agent</i> 고객센터
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="/order/html" class="dropdown-item">
                            주문배송
                        </a>
                        <a href="/my.html" class="dropdown-item">
                            내 계정
                        </a>
                        <a href="/faq.html" class="dropdown-item">
                            1:1문의
                        </a>
                        <a href="/logout" class="dropdown-item">
                            로그아웃
                        </a>
                    </div>
                </li>
                <li class="button-container nav-item">
                    <button class="btn btn-sm btn-danger btn-round btn-block" data-toggle="modal" data-target="#cartModal">
                        <i class="material-icons">shopping_cart</i> 0
                    </button>
                </li>
                <li class="button-container nav-item">
                    <a href="https://www.creative-tim.com/product/material-kit-pro?ref=presentation" target="_blank" class="btn btn-sm btn-rose btn-round btn-block">
                        <i class="material-icons">login</i> 로그인
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>