<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="inc/dev :: devFrg"></th:block>
<th:block th:replace="inc/head :: headFrg"></th:block>

<body>

<th:block th:replace="inc/nav_b :: navBFrg"></th:block>

<div class="main main-raised" style="margin-top: 6rem !important;">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="cat-title">
                        <i class="material-icons">air</i> 액상
                    </h2>
                    <div role="tablist">
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                                        카테고리
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSearch" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="col-12" th:each="c : ${categoryList}" th:if="${c.ref == 0}">
                                    <div class="title">
                                        <h3 th:text="${c.name}"></h3>
                                    </div>
                                    <div class="form-check" th:each="cr : ${categoryList}" th:if="${cr.ref == c.id}">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" th:text="${cr.name}">
                                            <span class="form-check-sign"><span class="check"></span></span>
                                        </label>
                                    </div>
                                </div>
                                <!--                                <div class="col-12">-->
                                <!--                                    <div class="form-group">-->
                                <!--                                        <label for="searchBox" class="bmd-label-floating">검색</label>-->
                                <!--                                        <input type="text" class="form-control" id="searchBox">-->
                                <!--                                        <span class="bmd-help">액상명, 브랜드명으로 찾아주세요.</span>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">

                        <!--아이템-->
                        <div class="col-6 col-md-4 col-lg-3 col-xl-3" th:each="pr : ${productList}">
                            <div class="card card-product card-plain mb-0" data-colored-shadow="false">
                                <a th:href="@{/liquid/product}">
                                    <div class="card-header card-header-image">
                                        <img th:src="@{${'/thumbnail/' + pr.thumbnail}}" alt="...">
                                    </div>
                                    <div class="card-body mt-0 pt-0 overflow-hidden text-center">
                                        <h5 class="card-title my-0 py-0"><b th:text="${pr.brandItem.name}"></b></h5>
                                        <p class="my-0 py-0 text-dark"><b th:text="${pr.name}"></b></p>
                                        <p class="text-dark" style="margin-top: -6px" th:text="${pr.subname}"></p>
                                        <div class="card-description my-0 py-0">
                                            <h6 class="card-title" th:text="${pr.spec}"></h6>
                                            <div class="price-container">
                                                <span class="price text-success" th:if="${pr.discountPrice} == '0'"> <strong class="text-danger" th:text="${#numbers.setFormatInteger(pr.costPrice, 3, 'COMMA') + '원'}"></strong></span>
                                                <span class="price text-success" th:unless="${pr.discountPrice} == '0'"> <span class="price-old text-muted" th:text="${#numbers.setFormatInteger(pr.costPrice, 3, 'COMMA') + '원'}"></span><br><strong class="text-danger" th:text="${#numbers.setFormatInteger(pr.discountPrice, 3, 'COMMA') + '원'}"></strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--아이템-->

                    </div>
                    <div class="row">
                        <ul class="pagination pagination-info ml-auto mr-auto">
                            <li class="page-item">
                                <a href="javascript:void(0);" class="page-link">이전</a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0);" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0);" class="page-link">2</a>
                            </li>
                            <li class="page-item active">
                                <a href="javascript:void(0);" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0);" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0);" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="javascript:void(0);" class="page-link">다음</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h2 class="section-title">추천 액상</h2>

    </div>
</div>

<th:block th:replace="inc/footer :: footerFrg"></th:block>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title card-title">장바구니</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body cart-body">
                <div class="row mt-3">
                    <div class="col-4">
                        <img class="cart-img" src="./assets/img/examples/thumb/5.jpg" alt="...">
                    </div>
                    <div class="col-8 cart-content">
                        <h5><b>(ENFUSE)</b>크림오브더크롭</h5>
                        <h6>입호흡|9.8mg|120ml</h6>
                        <h5 class="text-success">29,000원</h5>
                        <span>수량 : <b>1</b> </span>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <div class="btn-group">
                            <button class="btn btn-round btn-outline-danger btn-sm"><i class="material-icons">remove</i></button>
                            <button class="btn btn-round btn-danger btn-sm"><i class="material-icons">add</i></button>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-10 ml-auto mr-auto">
                    <h3 class="text-right">총 : 220,000원</h3>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger btn-block btn-lg pay-btn col-12"><i class="material-icons">payment</i> 결제하기</button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="inc/script :: scriptFrg"></th:block>

<script>
    // 서치 메뉴의 오픈 여부
    $(document).ready(function () {
        collapse_show();
    });
    // $(window).resize(function () {
    //     collapse_show();
    // });

    function collapse_show() {
        const windowWidth = $(window).width();
        if (windowWidth < 500) {
            $("#collapseSearch").removeClass("show");
        } else {
            $("#collapseSearch").addClass("show");
        }
    }
</script>
</body>
</html>