<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="inc/dev :: devFrg"></th:block>
<th:block th:replace="inc/head :: headFrg"></th:block>

<body class="login-page sidebar-collapse">

<th:block th:replace="inc/nav_tp :: navTpFrg"></th:block>

<div class="page-header header-filter" style="background-image: url('/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <form class="form" method="post" onsubmit="return signupChk()" th:action="@{/auth/user/insert}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="card-header card-header-danger text-center">
                            <h4 class="card-title">회원가입</h4>
                        </div>
                        <a href="#pablo" class="btn btn-link col-12">
                            <img src="/img/kakao_login.png" style="width: 100%" alt="">
                        </a>
                        <p class="description text-center">이메일로 가입하기</p>
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="material-icons">mail</i></span>
                                </div>
                                <input id="username" type="email" class="form-control" placeholder="이메일" name="username">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="material-icons">lock_outline</i></span>
                                </div>
                                <input id="password" type="password" class="form-control" placeholder="비밀번호" name="password">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="material-icons">lock</i></span>
                                </div>
                                <input id="passwordCheck" type="password" class="form-control" placeholder="비밀번호 확인">
                            </div>
                            <div class="form-check mt-0 pt-3">
                                <label class="form-check-label">
                                    <input id="terms" class="form-check-input" type="checkbox" name="terms">
                                    <span class="form-check-sign"><span class="check"></span></span>
                                    <a href="#">이용약관과 개인정보처리방침</a>에 동의(필수)
                                </label>
                            </div>
                            <div class="form-check mb-4 mt-0 pt-0">
                                <label class="form-check-label">
                                    <input id="marketing" class="form-check-input" type="checkbox" name="marketing">
                                    <span class="form-check-sign"><span class="check"></span></span>
                                    마케팅 정보수신 동의(선택)
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="col-12 btn btn-danger btn-lg"><b>가입하기</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="inc/script :: scriptFrg"></th:block>

<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<script type="text/javascript">
    function signupChk() {

        const pwRegex = /^.*(?=^.{8,16}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[~,!,@,#,$,*,(,),=,+,_,.,|]).*$/;
        const emailRegex = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

        const username = document.getElementById('username');
        const password = document.getElementById('password');
        const passwordCheck = document.getElementById('passwordCheck');
        const terms = document.getElementById('terms');

        if (username.value === '') {
            alert('이메일을 입력하세요.');
            username.focus();
            return false;
        } else if (!emailRegex.test(username.value)) {
            alert('정확한 이메일을 입력하세요.');
            username.focus();
            return false
        } else if (password.value === '') {
            alert('비밀번호를 입력하세요.');
            password.focus();
            return false;
        } else if (!pwRegex.test(password.value)) {
            alert('비밀번호는 8~16자리의 대소문자를 섞어서 만들어야합니다.');
            password.focus();
            return false
        } else if (passwordCheck.value !== password.value) {
            alert('비밀번호가 일치하지 않습니다.');
            passwordCheck.focus();
            return false;
        } else if (!terms.checked) {
            alert('이용약관과 개인정보처리방침에 동의해주세요.');
            terms.focus();
            return false;
        } else {
            return true;
        }
    }
</script>
</body>
</html>